<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.elias.KebalanKeyboard</string>
    <key>CFBundleName</key>
    <string>KebalanKeyboard</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.keyboard-service</string>
        <key>NSExtensionPrincipalClass</key>
        <string>$(PRODUCT_MODULE_NAME).KeyboardViewController</string>
        <key>NSExtensionAttributes</key>
        <dict>
            <key>RequestsOpenAccess</key>
            <true/>
            <key>PrimaryLanguage</key>
            <string>zh-Hant</string> <!-- 這個也可以改成"zh-Hant"若想預設中文 -->
        </dict>
    </dict>
</dict>
</plist>
